body {
    background-color: black;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
}

.nav-item {
    text-align: right;
    font-size: 18px;
}

h2 {
    text-align: center;
    padding-top: 3rem;
}

h3 {
    text-align: center;
}

/* Igualar tamaños de fotos en tarjetas */
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/* Separar íconos rrss */
.fa-brands {
    padding: 5px;
}

footer {
    background-color: #007bff;
}

/*Estilos Iconos FA*/
#iconos {
    font-size: 25px;
    background-color: #007bff;
    text-align: center;
}

#somos{
    padding-top: 80px;
}

#destacados{
    padding-top: 80px;
}